In [ ]:
import re
import pandas as pd
csv1 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/vaccine - Sheet2.csv',encoding='utf-8', sep=',') 
csv2 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/ps5 - Sheet2.csv',encoding='utf-8', sep=',') 
csv3 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/liverpool - Sheet2.csv',encoding='utf-8', sep=',') 
csv4 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/d-day - Sheet2.csv',encoding='utf-8', sep=',') 
csv5 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/9to5mac - Sheet2.csv',encoding='utf-8', sep=',') 
csv6 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/bean - Sheet2.csv',encoding='utf-8', sep=',') 
csv6.shape

In [ ]:
import re
import pandas as pd
csv_ = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/depression - Sheet2.csv',encoding='utf-8', sep=',')

In [ ]:
csv= pd.concat([csv1,csv2,csv3,csv4,csv5,csv6],axis=0)
#print(csv)
data = csv.sample(frac = 1) 
#print(data)
data.to_csv('C:/Users/Anas/Downloads/sc dataset/dataset.csv',index=False, encoding='utf-8')

In [ ]:
csv_ = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/dataset.csv',encoding='utf-8', sep=',')

In [ ]:
import re
import pandas as pd
def remove_emoji(string):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

In [ ]:
csv_[u'Comment'] = csv_[u'Comment'].astype(str)
csv_[u'Comment'] = csv_[u'Comment'].apply(lambda x:remove_emoji(x))
#data.to_csv('C:/Users/Anas/Downloads/sc dataset/dataset_.csv',index=False, encoding='utf-8')
csv_.to_csv('C:/Users/Anas/Downloads/sc dataset/depression - Sheet2.csv',index=False, encoding='utf-8')

In [ ]:
import nltk 
nltk.download('words')
words = set(nltk.corpus.words.words())
t = "Io andiamo to the beach with my amico."
#sent = "Io andiamo to the beach with my amico."
sent = " ".join(w for w in nltk.wordpunct_tokenize(t) if w.lower() in words or not w.isalpha())

In [ ]:
sent

In [ ]:
import re
import pandas as pd
from nltk.tokenize import word_tokenize
from string import punctuation 
from nltk.corpus import stopwords 
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
#nltk.download('words')
        

def preprocess(text):
  #text = text.lower()
  text = re.sub('((www\.[^\s]+)|(https?://[^\s]+))', 'URL', text) # remove URLs
  text = re.sub('<.*?>', '', text)   # remove HTML tags)
  text = re.sub(r"china", "China", text
  text = re.sub(r"chinese", "Chinese", text)
  text = re.sub(r"india", "India", text)
  text = re.sub(r" J K ", " JK ", text)
  text = re.sub('@(\w+)',"", text ) # remove usernames
  text = re.sub(r"[#|_]", '', text) # remove the # in #hashtag
  text = word_tokenize(text) # remove repeated characters (helloooooooo into hello)
  
 
    
  return text

In [ ]:
dt = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/depression - Sheet2.csv',encoding='utf-8', sep=',')

In [ ]:
dt = pd.read_csv("C:/Users/Anas/Downloads/sc dataset/dataset_.csv")

In [ ]:
dt.Comment=dt.Comment.astype(str)

In [ ]:
%time dt['Comment'] = dt['Comment'].apply(lambda x: preprocess(x))

In [ ]:
%time dt['Comment'] = dt.Comment.apply(lambda x: ' '.join([str(i) for i in x]))

In [ ]:
dt.shape

In [ ]:
dt = dt.sample(frac = 1)

In [ ]:
dt = dt.reset_index(drop=True)

In [ ]:
dt1 = dt.head(3880)
dt2 =dt.tail(3879)

In [ ]:
dt1.to_csv('C:/Users/Anas/Downloads/sc dataset/depression_1.csv',index=False, encoding='utf-8')
dt2.to_csv('C:/Users/Anas/Downloads/sc dataset/depression_2.csv',index=False, encoding='utf-8')

In [ ]:
dtt1 = pd.read_csv("C:/Users/Anas/Downloads/sc dataset/depression_1.csv")
dtt2 = pd.read_csv("C:/Users/Anas/Downloads/sc dataset/depression_2.csv")

In [ ]:
a = dtt1.Comment.str.len()
a.max()

In [ ]:
for i in range(len(dtt1.Comment)):
    if(a[i]>250 or a[i]<60):
        print(dtt1.Comment[i])
        #dt.drop(i)
        dtt1.drop(i, inplace=True)

In [ ]:
b= dtt2.Comment.str.len()
b.max()

In [ ]:
for i in range(len(dtt2.Comment)):
    if(b[i]<12 or b[i]>60):
        print(dtt2.Comment[i])
        #dt.drop(i)
        dtt2.drop(i, inplace=True)

In [ ]:
ab= pd.concat([dtt1,dtt2],axis=0)

In [ ]:
ab.shape

In [ ]:
da = ab.sample(frac = 1)

In [ ]:
dac = da.Comment

In [ ]:
dac

In [ ]:
dac.to_csv('C:/Users/Anas/Downloads/sc dataset/depression_f.csv',index=False, encoding='utf-8')

In [ ]:
dataset = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/depression_f.csv',encoding='utf-8', sep=',')

In [ ]:
dataset = dataset.dropna()

In [ ]:
dataset = dataset.sample(frac = 1)

In [ ]:
dataset = dataset.head(500)

In [ ]:
dataset = dataset.reset_index(drop=True)

In [ ]:
dataset

In [ ]:
dataset.to_csv('C:/Users/Anas/Downloads/sc dataset/depression_f1.csv',index=False, encoding='utf-8')

In [ ]:
dx = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/dset.csv',encoding='utf-8', sep=',')

In [ ]:
dx1 =dx.head(3865)

In [ ]:
dx1.shape

In [ ]:
dx1.to_csv('C:/Users/Anas/Downloads/sc dataset/data3200.csv',index=False, encoding='utf-8')

In [ ]:
import re
import pandas as pd
def remove_emoji(string):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)
 
data = pd.read_csv('C:/Users/Anas/Desktop/iphone11 - Sheet2.csv',encoding='utf-8', sep=',') # read tsv file
print(data['Comment'])
 
data[u'Comment'] = data[u'Comment'].astype(str)
data[u'Comment'] = data[u'Comment'].apply(lambda x:remove_emoji(x))
data.to_csv('C:/Users/Anas/Desktop/iphone11-Sheet2_dem.csv',index=False, encoding='utf-8')

In [ ]:
pip install langdetect

In [ ]:
import re
import pandas as pd
from nltk.tokenize import word_tokenize
from string import punctuation 
from nltk.corpus import stopwords 
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
        

def preprocess(text):
  text = text.lower()
  #text = re.sub('((www\.[^\s]+)|(https?://[^\s]+))', 'URL', text) # remove URLs
  text = re.sub('<.*?>', '', text)   # remove HTML tags
  text = re.sub(r'[^\w\s]', '', text) # remove punc
  text = re.sub(r'\d+','',text)# remove numbers
  #text = re.sub(r"[.?!]", '', text) 
  #text = re.sub('[0-9]+', '', text)
  text = re.sub('@(\w+)',"", text ) # remove usernames
  text = re.sub(r"[#|_]", '', text) # remove the # in #hashtag
  text = word_tokenize(text) # remove repeated characters (helloooooooo into hello)
  
  #removing stopwords and puncuations
  mystopword = set(nltk.corpus.stopwords.words('english') + ['URL'])
  text = [word for word in text if word not in mystopword]
  text = [word for word in text if word not in punctuation]

  # mystopwords = set(stopwords.words('english') + list(punctuation) + ['URL'])
    
  #apply lemmatizing
  wn = nltk.WordNetLemmatizer()
  text = [wn.lemmatize(word) for word in text]


  #apply stemming
  ps = nltk.PorterStemmer()
  text = [ps.stem(word) for word in text]
  
  return text

In [ ]:
dt = pd.read_csv("C:/Users/Anas/Desktop/iphone11-Sheet2_dem.csv")

In [ ]:
dt.Comment=dt.Comment.astype(str)

In [ ]:
%time dt['Comment'] = dt['Comment'].apply(lambda x: preprocess(x))

In [ ]:
%time dt['Comment'] = dt.Comment.apply(lambda x: ' '.join([str(i) for i in x]))

In [ ]:
a= dt.Comment.str.len()

In [ ]:

for i in range(len(dt.Comment)):
    if(a[i]<50):
        print(dt.Comment[i])
        #dt.drop(i)
        dt.drop(i, inplace=True)

In [ ]:
dt.to_csv('C:/Users/Anas/Desktop/iphone11-Sheet2_dem3.csv',index=False, encoding='utf-8')

In [ ]:
dt.shape

In [ ]:
import pandas as pd
d = pd.read_csv('C:/Users/Anas/Desktop/final1 - Sheet1.csv')

In [ ]:
dtn=dt.Comment.to_numpy()
print(len(dtn))

In [ ]:
for i in range(len(dtn)):
    d.text[i] = dtn[i]

In [ ]:
d

In [ ]:
d.reindex(d.columns + ['label','anas','billa','rupu'], axis=1)

In [ ]:
d.to_csv('C:/Users/Anas/Desktop/xx.csv')

In [ ]:
df = pd.DataFrame(dict(A=[5,3,5,6], C=["foo","bar","fooXYZbar", "bat"]))


df=df[~df.C.str.contains("foobar")]
df

In [1]:
import pandas as pd
x1 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/xxxx.csv',encoding='utf-8', sep=',')

In [ ]:
x1=x1.head(296)

In [ ]:
x1

In [3]:
import pandas as pd
x2 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/xxx.csv',encoding='utf-8', sep=',')

In [ ]:
x2 = x2.head(1008)

In [ ]:
x1.to_csv('C:/Users/Anas/Downloads/sc dataset/a1.csv',index=False, encoding='utf-8')

In [ ]:
x2.to_csv('C:/Users/Anas/Downloads/sc dataset/a2.csv',index=False, encoding='utf-8')

In [4]:
a1 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/a1.csv',encoding='utf-8', sep=',')

In [5]:
a2 = pd.read_csv('C:/Users/Anas/Downloads/sc dataset/a2.csv',encoding='utf-8', sep=',')

In [6]:
a2

,text,anas,billa,rupu,label
0,Well i think ps5 is better,1.0,1.0,1.0,1.0
1,Now i know ... Gon na share this video .,1.0,1.0,1.0,1.0
2,Fidelity mode and performance mode ? ? I think...,1.0,1.0,1.0,1.0
3,Australia ’ s were in d day,1.0,1.0,1.0,1.0
4,So are vaccine injury courts,0.0,0.0,0.0,0.0
...,...,...,...,...,...
1003,YES D-DAY I LOVE STUDYING THIS ! ! ! ! ! ! !,1.0,1.0,1.0,1.0
1004,Green iPhone 11,1.0,1.0,0.0,1.0
1005,"Nothing to worry about , if you have a serious...",0.0,0.0,0.0,0.0
1006,75th anniversary of D-Day,1.0,1.0,1.0,1.0
1007,Well done to the boys ! ! ! Well deserve by far !,1.0,1.0,1.0,1.0

In [7]:
aa= pd.concat([a1,a2],axis=0)
aaa = aa.sample(frac = 1)

In [8]:
aaa

,text,anas,billa,rupu,label
198,"I miss being healthy . I ’ m alway in pain , b...",0.0,0.0,0.0,0.0
380,Mr bean fan from India,1.0,1.0,1.0,1.0
239,"I like the view , the reason why iwant to go ...",1.0,1.0,1.0,1.0
693,I ’ ll get the ps5 slim . Instead of that spac...,0.0,1.0,0.0,0.0
595,Americans who think they did it all bruv smh ....,0.0,0.0,0.0,0.0
...,...,...,...,...,...
613,If they have to get rappers and pay media outl...,0.0,0.0,0.0,0.0
810,I mean this is vox if the government said hey ...,0.0,0.0,0.0,0.0
138,I am getting an iPhone 11 soon and I am watchi...,1.0,1.0,1.0,1.0
935,Hope to buy this . But where has the money ...,0.0,0.0,0.0,0.0
169,I & 39 ; m finding that I have all of the symp...,0.0,0.0,0.0,0.0

In [9]:
aaa = aaa.reset_index(drop=True)

In [10]:
aaa.to_csv('C:/Users/Anas/Downloads/sc dataset/finaldataset.csv',index=False, encoding='utf-8')

In [57]:
aaa = pd.read_csv('C:/Users/Anas/Downloads/sc dataset//finaldataset.csv',encoding='utf-8', sep=',')

In [58]:
len(aaa)

1304

In [59]:
df = pd.DataFrame(data=aaa.text)

In [60]:
dg = pd.DataFrame(data=aaa.label)

In [74]:
dy= pd.concat([df,dg],axis=1)

In [83]:
dz = dy["label"].round().astype(int)

In [84]:
dz

0       0
1       0
2       0
3       1
4       0
       ..
1299    1
1300    1
1301    1
1302    0
1303    0
Name: label, Length: 1304, dtype: int32

In [85]:
dy= pd.concat([df,dz],axis=1)

In [86]:
dy

                                                   text  label
0                            I have 8 of those symptoms      0
1                        90 % of my friends used me : )      0
2     but you should also add that an overly simulat...      0
3     Liverpool FC need a 100,000 capacity stadium.....      1
4                   I have all of them is that normal ?      0
...                                                 ...    ...
1299  should i upgrade from at half broken oneplus 3...      1
1300  Anyone who takes me out from stress , tensions...      1
1301                                   Fascinating ...       1
1302  & quot ; I don & 39 ; t wan na die , i just wa...      0
1303  I feel like I & 39 ; ve crushed the hopes and ...      0

[1304 rows x 2 columns]

In [7]:
dz =dy.to_numpy()

In [8]:
dz1 = dz[0:1043]

In [9]:
dz2 = dz[1044:1174]

In [10]:
dz2 = dz[1175:1304]

In [ ]:
dz2

In [13]:
df.size

1304

In [26]:
dz[:,1]

array([0.0, 0.0, 0.0, ..., 1.0, 0.0, 0.0], dtype=object)

In [87]:
first_split = dy.sample(frac=0.8,random_state=200)
print(first_split)

                                                   text  label
87            You should make a video on Belleau Wood .      1
655   Im with my Ps5 , even one day i will get new x...      1
531   When it has been a year so you can now buy an ...      1
69    Me , an anti-vaccine probably wont take it . T...      0
915   Did they placed the fidelity and performance m...      0
...                                                 ...    ...
936                                      purples better      1
1027  If I was an American soldier I would just spin...      1
732                                    Green is lovely       1
1158           never have i ever had so many goosebumps      1
801   How to get out from depression and be happy ag...      1

[1043 rows x 2 columns]

In [88]:
second_split=dy.drop(first_split.index)
print(second_split)

                                                   text  label
0                            I have 8 of those symptoms      0
10                 People are dying after vaccination .      0
15             in my country iPhone 11 128gb is $ 1000+      1
17                 sometimes depression see the reality      0
18                              I have all the symptoms      0
...                                                 ...    ...
1272  If you & 39 ; re depressed , don & 39 ; t read...      0
1275  You don ’ t know it ’ s harmless ! You are no ...      0
1277  Mané is one of the main reasons we won this cu...      1
1278  I think I am going to kill myself . Maybe not ...      0
1295  An instantly forgettable game . Certainly the ...      1

[261 rows x 2 columns]

In [89]:
third_split = second_split.sample(frac=0.5,random_state=200)
print(third_split)

                                                   text  label
710                                        Stop lying !      0
613         What tv are u using with that ps5 console ?      1
706                    wtf i have all of those symptoms      0
1272  If you & 39 ; re depressed , don & 39 ; t read...      0
1275  You don ’ t know it ’ s harmless ! You are no ...      0
...                                                 ...    ...
151   Can anyone please explain why we are getting t...      0
364   WOW , unsubscribing . That ’ s what we are doi...      0
774    This was the most boring cl final i ever witness      0
1172                 me sitting here with an iphone SE       1
550                         origi is best supersub ever      1

[130 rows x 2 columns]

In [90]:
fourth_split=second_split.drop(third_split.index)
print(fourth_split)

                                                   text  label
0                            I have 8 of those symptoms      0
10                 People are dying after vaccination .      0
17                 sometimes depression see the reality      0
29                        Please the link of full movie      1
52    MeDiCaL tYrRAnY iS GoOd ! ! Pshh ! You people ...      0
...                                                 ...    ...
1240  would anyone believe me if i said ive been dea...      0
1253  Well , there is death ... ... .I mean , I gues...      0
1263  I hope this tune helps someone else . I wrote ...      1
1270                 Petition to make iphone 11 in blue      1
1271                          Really informative video       1

[131 rows x 2 columns]

In [91]:
first_split.to_csv('C:/Users/Anas/Downloads/sc dataset/Train.csv',index=False, encoding='utf-8')
third_split.to_csv('C:/Users/Anas/Downloads/sc dataset/Val.csv',index=False, encoding='utf-8')
fourth_split.to_csv('C:/Users/Anas/Downloads/sc dataset/Test.csv',index=False, encoding='utf-8')